<!DOCTYPE html>
 <html>
   <head>
    <title>Projeto Filmes e Séries</title>
     <link rel=`stylesheet href=/stylesheets/style.css />
   </head>
   <body>
     <h1>Projeto Filmes e Séries</h1>
     <ul>
       <li><a href='/listar'>Listagem de filmes e séries'</a></li>
       <li><a href='/add'>Adicionar Registro</a></li>
     </ul>
   </body>
 </html>
